body{
	background:lightblue;
	margin:50px;
	font-family: Courier New, monospace;
	color:#38187d;
}
.lead{
	font-size:1.3em;
	color:#38187d;
}
#foto{
	float: left;
	margin-right:40px;
	margin-bottom:40px;
}
#first{
	color:#38187d;
	float: left;
}
#second{
	clear:both;
	width: 65%;

}
li{
	margin-bottom: 10px;
}